[user]
	name = Stephen Goeppele
	email = s.goeppele.parrish@gmail.com
	signingkey = 7E9E4B7C5091CB72
[core]
	autocrlf = input
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[gc]
	auto = 1
[merge]
	summary = true

[commit]
	gpgsign = true
