[user]
	name = Stephen Goeppele
	email = s.goeppele.parrish@gmail.com
[core]
	autocrlf = input
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[gc]
	auto = 1
[merge]
	summary = true

[credential]
	helper = cache --timeout=3600
